<div class="container">
  <div class="row justify-content-center text-center">
    <div class="col-6 my-5 py-5">
        <img src="./images/logo.svg" alt="pokemon-logo-image">
        <h1 class="my-5">List Pokemon</h1>
        <h2>{{pokemon1.name}}</h2>
    </div>
  </div>
</div>